<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_zeoujfto.json" background="transparent"
                speed="0.5" style="width: 70px; height: 70px;" loop autoplay>
            </lottie-player>
            <h4 id="logo">Eureka</h4>
        </a>

        <!-- <a href="/" class="navbar-brand">
            <img src="/views/logo/logo-svg.svg" alt="eureka logo" id="logo-navbar">
        </a> -->

        <button class="signout px-3"><a href="/">Sign-out</a></button>

</nav>