<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_zeoujfto.json" background="transparent"
                speed="0.5" style="width: 70px; height: 70px;" loop autoplay>
            </lottie-player>
            <h4 id="logo">Eureka</h4>
        </a>

        <!-- <a href="/" class="navbar-brand">
            <img src="/views/logo/logo-svg.svg" alt="eureka logo" id="logo-navbar">
        </a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--button script-->
<script>
    //get modal
    let modal = document.getElementById("myModal");
    //get button that opens modal
    let btn = document.getElementById("help");
    //get the <span> element that closes modal
    let span = document.getElementsByClassName("close")[0];
    //when the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }
    //when the user clicks on <span> x to close modal
    span.onclick = function () {
        modal.style.display = "none";
    }
    //when the user clicks anywhere outside modal
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>